@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Quattrocento+Sans:wght@700&display=swap");

$titles: "Arvo", serif;
$texts: "Quattrocento Sans", sans-serif;

$black: #2c2828;
$darkGreen: #3e432e;
$green: #748545;
$lightGreen: #a7d129;

//616f39
